<VirtualHost *:80>
        Define server_name {{app}}.{{domain}}

        ServerName ${server_name}
        RewriteEngine on
        RewriteCond %{SERVER_NAME} =${server_name}
        RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]

        Undefine server_name
</VirtualHost>
<IfModule mod_ssl.c>
    <VirtualHost *:443>
        Define server_name {{app}}.{{domain}}
        Define basedocroot /home/web/miary.dev/{{app}}
        Define docrootweb  ${basedocroot}
        Define logdir      ${basedocroot}
        Define sslcertificatedomain {{domain}}

        ServerName ${server_name}
        DocumentRoot "${docrootweb}"

        LogLevel error
        ErrorLog ${basedocroot}/error.log
        CustomLog ${basedocroot}/access.log combined

        SetEnv PHP_ADMIN_VALUE "max_execution_time = 240"
        SetEnv PHP_ADMIN_VALUE "max_input_vars = 1500"

        <Directory />
            AllowOverride none
            Require all denied
        </Directory>

        <Directory "${docrootweb}">
                Options -Indexes +FollowSymLinks +MultiViews
                AllowOverride all
                Require all granted
        </Directory> 

         <FilesMatch \.php$>
             SetHandler "proxy:unix:/var/run/php/php7.4-fpm.sock|fcgi://localhost/"
         </FilesMatch>

         <IfModule mod_expires.c>
            ExpiresActive On
            ExpiresByType image/jpg "access plus 1 year"
            ExpiresByType image/jpeg "access plus 1 year"
            ExpiresByType image/gif "access plus 1 year"
            ExpiresByType image/png "access plus 1 year"
            ExpiresByType text/css "access plus 1 day"
            ExpiresByType application/pdf "access plus 1 month"
            ExpiresByType text/x-javascript "access plus 1 day"
            ExpiresByType application/x-shockwave-flash "access plus 1 month"
            ExpiresByType image/x-icon "access plus 1 year"
            ExpiresDefault "access plus 2 days"
        </IfModule>

        Include /etc/letsencrypt/options-ssl-apache.conf
        SSLCertificateFile /etc/letsencrypt/live/${sslcertificatedomain}/fullchain.pem
        SSLCertificateKeyFile /etc/letsencrypt/live/${sslcertificatedomain}/privkey.pem

        Undefine server_name
        Undefine basedocroot
        Undefine docrootweb
        Undefine logdir
        Undefine sslcertificatedomain
    </VirtualHost>
</IfModule>

<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
            <FilesMatch "\.(cur|gif|ico|jpe?g|png|svgz?|webp)$">
                SetEnvIf Origin ":" IS_CORS
                Header set Access-Control-Allow-Origin "*" env=IS_CORS
            </FilesMatch>
    </IfModule>
</IfModule>